<div [formGroup]="form" (ngSubmit)="generatePdf()">
    <div *ngFor="let field of formSchema">
      <label>{{ field.label }}</label>
      <div [ngSwitch]="field.type">
        <input *ngSwitchCase="'text'" [formControlName]="field.name" type="text" />
        <input *ngSwitchCase="'number'" [formControlName]="field.name" type="number" />
        <input *ngSwitchCase="'email'" [formControlName]="field.name" type="email" />
        <input *ngSwitchCase="'date'" [formControlName]="field.name" type="date" />
        <input *ngSwitchCase="'range'" [formControlName]="field.name" type="range" />
        <select *ngSwitchCase="'select'" [formControlName]="field.name">
          <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>
        </select>
        <div *ngSwitchCase="'radio'">
          <label *ngFor="let option of field.options">
            <input type="radio" [formControlName]="field.name" [value]="option" /> {{ option }}
          </label>
        </div>
        <input *ngSwitchCase="'checkbox'" [formControlName]="field.name" type="checkbox" />
      </div>
    </div>
    <button (click)="generatePdf()">Generate PDF</button>
</div>
  <input type="file" (change)="onFileChange($event)" />